#files ignored

*~

docs/pdf/
docs/thumbnails/
photos/thumbnails/
photos/thumbnails/
photos/thumbnails/100x100/
photos/thumbnails/200x200/
photos/thumbnails/22x22/
photos/thumbnails/30x30/
photos/thumbnails/50x50/
